@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300&family=Inter:wght@100;200;300;400;500&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Source+Sans+Pro:wght@300;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root{
    --color-primary: #FEA72C;
    --color-primary-ligth: #FEB44B;
    --color-primary-extra-light: #FFECD0;
    --color-dark: #1C2835;
    --color-dark-ligth: #333335;
    --color-success: #00A751;
    --color-success-ligth: #DCFFEC;
    --color-info: #00ACC6;
    --color-info-light: #DAF7FD;
    --color-danger: #DC3545;
    --color-danger-ligth: #F8D7DA;
    --color-white: #FFF;
    --color-ligth: #e0e2e4; 
    --color-secundary: #8C8B8E;   
    
    --background-color: #F9F9FB;

}

*{
   margin:0;
   padding: 0;
}

body{
    background: var(--background-color);
    font-family: 'Poppins';
}

/* STYLE GERALES */
.background-success{
    background: var(--color-success-ligth);
}
.background-warning{
    background: var(--color-primary-extra-light);
}
.background-info{
    background: var(--color-info-light);
}
.background-danger{
    background: var(--color-danger-ligth);
}
.btn-warning-round{
    background: var(--color-primary);
    color: var(--color-ligth);
    border: none;
    padding: .6rem;
    width: 75%;
    border-radius: 70px;
    transition: .3s ease;
}
.btn-warning-round:hover{
    box-shadow: 5px 5px 14px 0px var(--color-primary-extra-light);
    color: var(--color-dark);
}
.flex-space-betweend{
    display: flex;
    justify-content: space-between;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.w-100{
    width: 100%;
}
/* ASIDE BAR */
aside{
    position: fixed;
    width: 120px;
    height: 100vh;
    background: var(--color-white);
    display: flex;   
    flex-direction: column;
    box-sizing: border-box;
}

aside .top-option{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside .logo-menu{
    width:100%;
    display: flex;
    margin-top: 23px;
    align-items: center;
    justify-content: center;
}
.logo-menu i{
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: .7rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: ease .3s;
}

.logo-menu i:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.top-option .option-menu {
    width:100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.option-menu i{
   border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  10px 0;
    color: var(--color-secundary);
    --color: #cccace;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.active-menu{
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    transition: 1s ease;
}
.active-menu:hover{
    box-shadow: 0px 0px 13px 14px var(--color-primary-extra-light);
}

.logout{
    width:100%;
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logout span{
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: var(--color-dark-ligth);
}

.logout span:hover{
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 0px 10px 13px var(--color-primary-extra-light);
}

/* MAIN BAR */
main{
    width: calc(100% - 120px);
    margin-left: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* PANEL LEFT */
.container-left{
    width: calc(100% - 380px);
    padding: 16px;
    color: var(--color-dark);
}

/* TITLE AND INPUT SEARCH */
.container-left h4{
    font-weight: 600;
}

.input-search{
    width: 100%;
    display: flex;
    position: relative;
}
.input-search input{
    width: 95%;
    border: none;
    color: var(--color-secundary);
    box-sizing: border-box;
    padding: 15px 35px 15px 15px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    outline: none;
}
.input-search input[type=text]:focus{
    border: 2px solid var(--color-light);
}
.icon-search{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: 32px;
    color: var(--color-primary);
}
.view-all{
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 7px;
    cursor: pointer;
}
.view-all i{
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.view-all:hover i{
    transform: translate(7px);
}

/* BANNER THE WELCOME */
.banner-welcome{
    width: 100%;
    background: var(--color-primary-extra-light);
    padding: 1.2rem;
    border-radius: 20px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 55px;
}

.banner-welcome img{
    width: 20%;
}
.banner-welcome .contexto{
    width: 70%;
}
.banner-welcome .contexto h5{
    color: var(--color-dark);
    font-weight: 600;
}
.banner-welcome .contexto p{
    color: var(--color-secundary);
}
.banner-welcome .circle-suuces img{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 0;
}

/* CATEGORY MENU */
.container-categoria{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:1.5rem;
    justify-content: center;
}

.card-category{
    width: 100px;
    background: var(--color-white);
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px var(--color-ligth);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 0 15px;
}
.card-category img{
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
}
.card-category .text-card{
    color: var(--color-dark);
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
}
.card-category span{
    background: var(--color-primary);
    padding: 5px;
    border-radius: 50%;
    color:var(--color-white);
    font-size: 19px;
}
.active-card-category{
    background: var(--color-primary);
}
.active-card-category img{
    background: var(--color-white);
}
.active-card-category .text-card{
    color: var(--color-white);
}
.active-card-category span{
    background: var(--color-white);
    color: var(--color-primary);
}

/* CARD MENU */

.card-menu{
    width: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-menu:hover img{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-name: girapizza
}

@keyframes girapizza{
    0% {
        transform: rotate(0deg)
    } to {
        transform: rotate(1turn)
    }
}

.card-menu img{
    width: 50%;
    position: absolute;
    z-index: 1;
}

.card-menu .card-body-menu{
    background: var(--color-white);
    width: 100%;
    height: 170px;
    padding: .8rem;
    border-radius: 12px;
    position: relative;
    margin-top: 60px;   
    box-shadow: 5px 5px 10px 0px var(--color-ligth);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-menu .card-body-menu .contenido{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65px;
    z-index: 100000;
}

.card-menu .card-body-menu .contenido b{
    font-size: 14px;
    font-weight: 600;
}

.card-menu .card-body-menu .contenido .start-califity span{
    font-size: 18px;
    color:var(--color-danger-ligth) !important;
    padding: 2px;
    cursor: pointer;
}
.card-menu .card-body-menu .contenido .start-califity span.active-start{
    color:var(--color-primary) !important;
}
.card-menu .card-body-menu .contenido p{
    font-size: 11px;
    color: var(--color-primary);
}
.card-menu .card-body-menu .contenido p b{
    font-size: 22px;
    color: var(--color-dark);
    font-weight: 500;
}
.card-menu .card-body-menu .button-plus{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--color-primary);
    color:var(--color-white);
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100000;
}

/* PANEL RIGHT */
.container-right{
    position: relative;
    width: 380px;
    background: var(--color-white);
    height: 100vh;
    padding-bottom: 1.5rem;
}

.container-right .top-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .9rem;
    gap: 7px;
}
.alert-message{
    position: relative;
    text-align: center;
}
.alert-message span, .update-password span{
    background: var(--background-color);
    padding: .3rem;
    border-radius: 50%;
    color: var(--color-secundary);
    position: relative;
    cursor: pointer;
}
.main-user{
   --width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}
.avatar-user span{
    background:var(--color-info-light);
    color: var(--color-secundary);
    padding: .4rem;
    border-radius: 50%;
}
.profile-user{
    font-size: 12px;
    font-weight: 500;
}

.profile-user .perfil-user{
    font-size: 10px;
    font-weight: 400;
}

/* CAR CREDICT */
.content-card{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.content-card .card{
    background-color:  var(--color-primary);
    width: 90%;
    padding: .7rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 14px var(--color-primary-extra-light);
    transform: rotate(2deg)
}
.content-card .card .title-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title-card .text{
    color: hsl(180, 50%, 92%,0.6);
    font-size: 15px;
}
.title-card .sucursal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-card .sucursal i{
    color: var(--color-white);
    font-size: 35px;
    margin-top: -10px;
}
.card .body-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    color: var(--color-primary-extra-light);
    font-weight: 600;
    margin-top: 7px;
}
.card .footer-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.footer-card .name-client{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-card .name-client h3{
    font-size: 15px;
    margin: 0;
    color: var(--color-white);
}
.footer-card .name-client b{
    font-size: 15px;
    color: hsl(180, 50%, 92%,0.6);
    font-weight: 400;
}
.footer-card .chid-card span{
    color: #8f5606;
    font-size: 35px;
}

/* ORDER MENU */
.order-menu{
    width: 100%;
    display: flex;
    flex-direction: column;    
    padding: .9rem;
}
.order-menu .title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-menu .title h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark);
}

.order-menu .title span{
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .1s ease;
}
.order-menu .title span i{
    background: var(--color-primary);
    color: var(--color-primary-extra-light);
    font-size: 16px;
    padding: 1px;
    border-radius: 5px;
    transition: .1s ease;
}
.order-menu .title span:hover i{
    box-shadow: 0px 0px 10px 7px var(--color-primary-extra-light);
    transform: translate(5px);
}

/* ITEMS SHOPPING */
.container-show{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    padding: .6rem;
    height: 550px;
    overflow-y: auto;
    box-sizing: border-box;
}
.container-show::-webkit-scrollbar {
    -webkit-appearance: none;
}
.container-show::-webkit-scrollbar:vertical {
    width:7px;
}
.container-show::-webkit-scrollbar-button:increment,.container-show::-webkit-scrollbar-button {
    display: none;
} 
.container-show::-webkit-scrollbar:horizontal {
    height: 10px;
}
.container-show::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-extra-light);
    border-radius: 20px;
}
.container-show::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.container-show .item{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--color-white);
    border-radius: 13px;
    padding: 10px;
    box-shadow: 5px 5px 10px 0px var(--color-ligth);
    margin-bottom: 17px;
    transition: 1s ease;
}

.container-show .item:hover{
    transform: translate(2%);
}
.item .content-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
}
.container-show .item .image{
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 15px;
    border: none;
}
.container-show .item .image img{
    width: 100%;
    padding: 5px;
}
.container-show .item .description-count{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
}

.container-show .item .description-count span{
    font-size: 11px;
    color: var(--color-primary);
}
.container-show .item .description-count span b{
    font-size: 13px;
    color: var(--color-dark);
    font-weight: 600;
}

.container-show .item .price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
 }

 .container-show .item .price span{
    font-size: 11px;
    color: var(--color-primary);
 }

 .container-show .item .price span b{
    font-size: 14px;
    color: var(--color-dark);
    font-weight: 600;
 }
 .container-checkout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: .7rem;
 }